#body{
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#cima{
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    margin-top: 10px;
    padding-top: 20px;
}

#minha-foto{
    border-radius: 5px;
    width: 250px;
    height: 240px;
    margin: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0,4s;
}

#minha-foto:hover{
    width: 250px;
    height: 240px;

}

.grid{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h3{
    background-color: aliceblue;
    border-radius: 5px;
}

.bloco{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    border-radius: 5px;

}

#fotos{
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}

#fotos:hover{
    opacity: 0.7;
}

h4{
    text-align: center;
    padding: 10px 20px;
}